*   {
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
    /* text-align: left; */
    }

nav {
    background-color: #E9D997;
    width: 100%;
    height: 40px;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
}

ul {
    list-style-type: none;
    bottom: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E9D997;
}

li {
    float: left;
    background-color: #E9D997;
}

.hamburger {
    float: right;
    margin: 5px;
}

.hamburger div {
    width: 40px;
    height: 4px;
    background-color: #DA929D;
    margin: 6px 0;
    display: block;
}

.foot li {
    float: right;
}

body {
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
 }

.foot {
    margin: 15px 0  0  0;
    background-color:#E9D997;
    width: 100%;
    height: 40px;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
}

h2 {
    color: #9E4E56;
}

.bio, .collection {
    margin: 10px 25px 10px 25px;
    display: block;
    padding: 0;
    text-align: justify;
}

.bio img {
    display: block;
    margin: 0 auto;
}

li a {
    display: block;
    color:  black;
    font-size: 16px;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    background-color:#EBDA98;
    transition: all 1000ms ease; 
}

a:hover {
    background-color: #A05158;
}

.hero {
    text-align: center;
}

.face, .faces {
    display: block;
    margin: 25px auto;
    width: 200px;
    height: auto;
}

.navigation a.active {
    color: #DA929D;
}

.navigation .icon {
    display: show;
}

.navigation {
    display: none
}

.navigation.showNavigation {
    display: flex;
    position: fixed;
    top: 40px;
    right: 0;
    flex-direction: column;
}

h1 {
    padding-top: 75px;
    text-align: center;
    color: #9E4E56;
}

h3 {
    text-align: center;
    color: #9E4E56;
}

p {
    margin: 15px 0;
}

.bigBarseana {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    display:show;  
}

.face, .placeholder {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.placeholder {
    border: 2px solid black;
    width: 250px; 
    height: 250px;
    border-radius: 5px;
    margin: 20px 0 20px 0;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: #9E4E56;
    color: white;
}

section.screenshot {
    margin: 0 25px 0 25px;
}

.bigBarseana {
    display: none;
    width: 500px;
    height: auto;
}

.links {
    text-align: center;
}

.collection, .bio, .screenshot, .links {
    display: none;
}

.placeholder {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 400px;
    height: auto; 
}

@media screen and (min-width:768px) {
    .navigation {
        display: block;
    }

    .hamburger {
        display: none;
    }

    .face {
        display: none;
    }

    .bigBarseana {
        display: block;
        margin: 25px auto;
    }

    .bio, .collection, .screenshot, .links, .smallBarseana {
        display: none;
    }

    
}




